.clj-kondo/.cache
node_modules
.shadow-cljs
target/vitest/js
.lsp
.vscode
.cpcache
.clj-kondo/funcool
.clj-kondo/com.pitch/uix.core/config.edn
.clj-kondo/com.pitch/uix.core/hooks/uix.clj
.clj-kondo/reagent/reagent/config.edn
